.app {
    text-align: center;
    margin: 50px auto;
    width: 50%;
}

*{
    margin: 3px;
}

.todo {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.app  button:focus,
.app  input:focus,
.app  button:active,
.app  input:active
.app  button:active:focus,
.app  input:active:focus{
    box-shadow: none!important;
    outline: none!important;
}
